
p {
    font-family: "Roboto", sans-serif;
}

input {
    font-size:36px;
    height: 50px;
    background-color: transparent;
    color: rgba(0,0,0,0.2);
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
  }

  textarea:focus, input:focus{
    outline: none;
}

.small-input {
    width: 50%;
    font-size:20px;
    padding: 20px;
}








  .switch-multi-button {
    display: flex;
    align-items: center;
    gap: 3px;
    position: relative;
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: intrinsic;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    /* height: 40px; */
  }
  .switch-multi-button .sweep-button-item {
    display: flex;
    /* height: 40px; */

    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 15px;
    /* background: rgba(0,0,0,0.2); */
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
  }
  .switch-multi-button .sweep-button-item-active {
    position: absolute !important;
    background: rgba(0,0,0,0.2);
    color: white;
    cursor: default;
    box-sizing: border-box;
    height: 40px;
  }